$phone: 400px;
$tablet: 780px;
$middle: 1000px;
$desktop: 1200px;

$heading: 'Inter', sans-serif;
$body: 'Inter', sans-serif;

$black: #222222;
$lightOrange: #f38e03;
$red: #ea5419;
$orangeGrey: #f3ebe0;
