@import '../../variables.scss';
@import '../../shared.scss';

.videoSection {
  margin-bottom: 130px;

  .videoSectionInner {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: $desktop;
    margin: 0 auto;

    .video {
      width: 590px;

      video {
        width: 100%;
        aspect-ratio: 16/9;
        background-color: $black;
        border-radius: 10px;
        box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.2);
      }
    }
    .content {
      width: calc(100% - 590px);
      padding-left: 45px;

      .icon {
        width: 75px;
      }
      .title {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: 0.03em;
        color: $black;
        margin-bottom: 18px;
      }
      .description {
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.03em;
        color: $black;
        width: 70%;
      }
    }
  }
}
